p{
    letter-spacing: 2px;
    font-size: large; 
    font-weight: bold; 
    color: rgb(241, 241, 191);  
    }
    span{
     color:brown;
     font-weight: bolder;
     font-size: larger;   
    }
    .color{
    background-color:aquamarine;    
    }
    .test_image_and_result{  
    box-shadow: 3px;
    background-color: antiquewhite;  
    }
    .first, .second{
    background-color: beige;
    }
    #bottom{
    font-size: x-large;
    font-weight: bolder; 
    width: 50%;   
    }